<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softlabs.aicontents.domain.publish.mapper.PublishLogMapper">

    <insert id="insertFromRes" parameterType="com.softlabs.aicontents.domain.publish.dto.response.PublishResDto">
        INSERT INTO PUBLISH_LOG (
        PUBLISH_ID,
        AI_CONTENT_ID,
        BLOG_PLATFORM,
        BLOG_POST_ID,
        BLOG_URL,
        PUBLISH_STATUS,
        PUBLISH_RESPONSE,
        ERROR_MESSAGE,
        ATTEMPT_COUNT,
        PUBLISHED_AT,
        CREATED_AT,
        UPDATED_AT
        ) VALUES (
        #{publishId},
        #{aiContentId},
        #{blogPlatform},
        #{blogPostId},
        #{blogUrl},

        #{publishStatusName},

        #{publishResponse, jdbcType=CLOB},
        #{errorMessage,    jdbcType=CLOB},
        #{attemptCount},
        #{publishedAt, jdbcType=TIMESTAMP},
        COALESCE(#{createdAt, jdbcType=TIMESTAMP}, SYSTIMESTAMP),
        COALESCE(#{updatedAt, jdbcType=TIMESTAMP}, SYSTIMESTAMP)
        )
    </insert>
</mapper>
