<?xml version="1.0" encoding="UTF-8"?>

<!-- MyBatis Mapper XML 파일이라고 선언 -->
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


    <mapper namespace="com.softlabs.aicontents.scheduler.mapper.ScheduledTaskMapper">
    <!-- 이 xml이 어느 Mapper인터페이스와 연결되는 지 정의-->

        <!-- countTask 메서드와 연결, 결과는 int -->
        <select id="countTasks" resultType="int">
            SELECT COUNT(*)
              FROM ADMIN.TEST_SCHEDULED_TASKS
        </select>

    </mapper>

