<?xml version="1.0" encoding="UTF-8"?>

<!-- MyBatis Mapper XML 파일이라고 선언 -->
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


    <mapper namespace="com.softlabs.aicontents.scheduler.mapper.SchedulerMapper">
    <!-- 이 xml이 어느 Mapper인터페이스와 연결되는 지 정의-->

        <!-- countTask 메서드와 연결, 결과는 int -->
        <select id="countTasks" resultType="int">
            SELECT COUNT(*)
              FROM ADMIN.TEST_SCHEDULED_TASKS
        </select>

    <select id="selectByTaskId" parameterType="Long" resultType="com.softlabs.aicontents.scheduler.vo.ScheduledResponseVO">
        SELECT task_id as taskId,
               task_name as taskName,
               task_description as taskDescription,
               cron_expression as cronExpression,
               task_type as taskType,
               is_active as isActive,
               created_at as createdAt,
               updated_at as updatedAt
        FROM ADMIN.TEST_SCHEDULED_TASKS
        WHERE task_id = #{taskId}
    </select>



    </mapper>

